attrs==20.3.0
backcall==0.2.0
Cartopy @ git+https://github.com/SciTools/cartopy.git@efd15f1552efc6e53bb0b40a23dc4edd57897d69
certifi==2020.12.5
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
Fiona==1.8.18
ipdb==0.13.4
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
kiwisolver==1.3.1
matplotlib==3.3.3
munch==2.5.0
numpy==1.19.5
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
prompt-toolkit==3.0.14
ptyprocess==0.7.0
Pygments==2.7.4
pykdtree==1.3.4
pyparsing==2.4.7
pyshp==2.1.3
python-dateutil==2.8.1
scipy==1.6.0
Shapely==1.7.1
six==1.15.0
traitlets==5.0.5
wcwidth==0.2.5
